{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@700;400&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <title>Medical Center</title>
</head>

<body>
    <wrapper>
        <header class="header">
            <div class="header__container _container">
                <div class="header__logo">
                    <div class="logo__icon"><img src="img/logo.png"></div>
                    <div class="logo__catalog">
                        <p class="logo__catalog-one">Каталог<img src="img/arrow.png"></p>
                    </div>
                </div>
                <div class="wrap">
                        <form action="#" class="header__search" method="get">
                        <input type="search" class="searchTerm" placeholder="Поиск по сайту">
                        <input type="submit" class="searchButton" value="Найти">
                    </form>
                </div>
                
                <div class="header__menu">
                    <nav class="nav">
                        <a class="nav__link" href="#1"><img src="img/heart.png" alt="">Избранное</a>
                        <a class="nav__link" href="#2"><img src="img/basket.png" alt="">Корзина</a>
                        <a class="nav__link" href="#3"><img src="img/profile.png" alt="">Профиль</a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="main-page">
            <div class="main-page__container _container">
                <div class="main-page__catalog">
                    <a class="nav__catalog" href="#laptop"><img src="img/laptop.png">Ноутбуки</a>
                    <br><a class="nav__catalog" href="#pc"><img src="img/pc.png">Компьютеры</a>
                    <br><a class="nav__catalog" href="#processor"><img src="img/processor.png">Процессоры</a>
                    <br><a class="nav__catalog" href="#mat_plata"><img src="img/mat_plata.png">Материнская плата</a>
                    <br><a class="nav__catalog" href="#videocard"><img src="img/videocard.png">Видеокарты</a>
                    <br><a class="nav__catalog" href="#memory"><img src="img/memory.png">Оперативная память</a>
                    <br><a class="nav__catalog" href="#hard_disk"><img src="img/hard_disk.png">Жесткие диски</a>
                    <br><a class="nav__catalog" href="#monitor"><img src="img/monitor.png">Мониторы</a>
                    <br><a class="nav__catalog" href="#power"><img src="img/power.png">Мониторы</a>
                    <br><a class="nav__catalog" href="#accessories"><img src="img/accessories.png">Аксессуары</a>
                </div>
                <div class="new_box">
                <p class="new_text">Новинки</p>
                <div class="main-page__block">
                    <div class="main-page-img-one">
                        <img src="img/left-arrow.png">
                    </div>
                    <div class="main-page__card">
                        <div class="main-page__card-one">
                            <a class="nav__tovar" href="#tovar">
                                <img src="img/laptop-one.png" alt="Ноутбук MSI GF76 Katana 11SC-483XRU черный">
                                <p class="laptop">17.3" Ноутбук MSI GF76 Katana 11SC-483XRU черный</p>
                            </a>
                            <button type="button" class="price">60 949 ₽</button>
                            <button type="button" class="favourites" ><img src="img/white_heart.png"></button>
                            <button type="button" class="basket" ><img src="img/white_basket.png"></button>
                        </div> 
                        
                        <div class="main-page__card-two">
                            <a class="nav__tovar" href="#tovar">
                                <img src="img/laptop-two.png" alt="Ноутбук MSI GF76 Katana 11SC-483XRU черный">
                                <p class="laptop">14.1" Ноутбук Irbis NB270 белый</p>
                            </a>
                            <button type="button" class="price">19 999 ₽</button>
                            <button type="button" class="favourites"><img src="img/white_heart.png"></button>
                            <button type="button" class="basket" ><img src="img/white_basket.png"></button>
                        </div> 
    
                        <div class="main-page__card-three">
                            <a class="nav__tovar" href="#tovar">
                                <img src="img/laptop-three.png" alt="Ноутбук MSI GF76 Katana 11SC-483XRU черный">
                                <p class="laptop">15.6" Ноутбук ASUS VivoBook PRO 15 M6500QH-HN034 синий</p>
                            </a>
                            <button type="button" class="price">22 489 ₽</button>
                            <button type="button" class="favourites" ><img src="img/white_heart.png"></button>
                            <button type="button" class="basket" ><img src="img/white_basket.png"></button>
                        </div> 
                    </div>
                    <div class="main-page-img-two">
                        <img src="img/right-arrow.png">
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer__container _container">
                <div class="footer__block">
                    <div class="footer__block-one-two">
                        <div class="footer__block-one">
                            <div class="footer__block-logo">
                                <img src="img/klient.png">
                                <p>Для клиетов</p>
                            </div>
                            <ul>
                                <li>Наши клиенты – в центре всего, что мы делаем,</li>
                                <li>Доверие – главное. Мы строим долгосрочные отношения,</li>
                                <li>Во всём, чем занимаемся, стремимся быть экспертами,</li>
                                <li>Открыты для предложений и улучшений.</li>
                            </ul>
                        </div>
                        <div class="footer__block-two">
                            <div class="footer__block-logo">
                                <img src="img/collaboration.png">
                                <p>Для сотрудников</p>
                            </div>
                            <ul>
                                <li>Техника IT – территория личной и коллективной самореализации,</li>
                                <li>Мы – одна команда,</li>
                                <li>Уважаем мнение и интересы людей,</li>
                                <li>Ценим свободу, смелость и ответственность.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__block-three">
                        <div class="footer__block-logo">
                            <img src="img/handshake.png">
                            <p>Для партнеров</p>
                        </div>
                        <ul>
                            <li>Прозрачность – основа совместного бизнеса,</il>
                            <li>Работаем, соблюдая этику бизнеса,</li>
                            <li>Уважаем другие мнения и интересы,</li>
                            <li>Выполняем обязательства и берем ответственность за свои решения,</li>
                            <li>Нетерпимы к коррупции.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    </wrapper>
</body>
